<%= form_with(model: [@contact, note], class: "contents") do |form| %>

<%= form.hidden_field :contact_id, value: note.contact_id || @contact&.id %>

<% if defined?(@contact) && @contact&.last_contacted_at.present? %>
  <p class="text-sm text-gray-500 mb-4">
    Last contacted: <%= l(@contact.last_contacted_at, format: :long) %>
  </p>
<% end %>

  <% if note.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul class="list-disc ml-6">
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": note.errors[:content].none?, "border-red-400 focus:outline-red-600": note.errors[:content].any?}] %>
  </div>

  <div class="inline">
    <%= render ButtonComponent.new(text: form.object.persisted? ? 'Update Note' : 'Create Note', type: :submit, classes: "w-full sm:w-auto inline-block cursor-pointer") %>
  </div>
<% end %>
