<div id="<%= dom_id note %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Content:</strong>
    <%= note.content %>
  </div>

  <div>
    <strong class="block font-medium mb-1">Contact:</strong>
    <%= note.contact.present? ? note.contact.name : note.contact_id %>
  </div>

  <% if note.user.present? %>
    <div>
      <strong class="block font-medium mb-1">Created by:</strong>
      <%= note.user.email %>
    </div>
  <% end %>

  <div>
    <strong class="block font-medium mb-1">Created at:</strong>
    <%= note.created_at.strftime("%d.%m.%Y %H:%M") %>
  </div>
</div>
