<% content_for :title, "Notes" %>

<div class="w-full">
 <% if notice.present? %>
  <p
    id="notice"
    class="py-2 px-3 mb-5 font-medium rounded-md inline-block
           bg-green-50 text-green-600
           dark:bg-green-900 dark:text-green-200"
  >
    <%= notice %>
  </p>
<% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Notes</h1>
    <%= render ButtonComponent.new(text: "New note", href: new_note_path) %>
  </div>

  <div id="notes" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @notes.any? %>
      <% @notes.each do |note| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render note %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= render ButtonComponent.new(text: "Show", href: note, variant: :secondary) %>
            <%= render ButtonComponent.new(text: "Edit", href: edit_note_path(note), variant: :secondary) %>
            <%= render ButtonComponent.new(text: "Destroy", href: note, variant: :danger, type: :button, data: { turbo_confirm: "Are you sure?" }) %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No notes found.</p>
    <% end %>
  </div>
</div>
