<% content_for :title, "Showing note" %>

<div class="md:w-2/3 w-full">
<% if notice.present? %>
  <p
    id="notice"
    class="py-2 px-3 mb-5 font-medium rounded-md inline-block
           bg-green-50 text-green-600
           dark:bg-green-900 dark:text-green-200"
  >
    <%= notice %>
  </p>
<% end %>

  <h1 class="font-bold text-4xl">Showing note</h1>

  <%= render @note %>

  <%= render ButtonComponent.new(text: "Edit this note", href: edit_note_path(@note), variant: :secondary) %>
  <%= render ButtonComponent.new(text: "Back to notes", href: notes_path, variant: :secondary, classes: "mt-2 sm:mt-0 sm:ml-2") %>
  <%= render ButtonComponent.new(text: "Destroy this note", href: @note, variant: :danger, type: :button, data: { turbo_confirm: "Are you sure?" }, classes: "w-full sm:w-auto") %>
</div>
