<%= form_with(model: contact, class: "contents") do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul class="list-disc ml-6">
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:name].none?, "border-red-400 focus:outline-red-600": contact.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:email].none?, "border-red-400 focus:outline-red-600": contact.errors[:email].any?}] %>
  </div>

  <div class="mb-5">
    <%= form.label :birthday, class: "block font-semibold mb-1" %>
    <%= form.date_field :birthday, class: "border rounded-md w-full p-2" %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:phone].none?, "border-red-400 focus:outline-red-600": contact.errors[:phone].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :company %>
    <%= form.text_field :company, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": contact.errors[:company].none?, "border-red-400 focus:outline-red-600": contact.errors[:company].any?}] %>
  </div>

  <div class="my-5">
    <div class="flex items-center gap-2">
      <%= form.check_box :active, id: "contact_active", class: "h-5 w-5 text-blue-600 bg-white border-gray-300 rounded dark:bg-gray-700 dark:border-gray-600 cursor-pointer" %>
      <%= form.label :active, "This contact is active", for: "contact_active", class: "text-gray-800 dark:text-white cursor-pointer" %>
    </div>
  </div>



  <div class="inline">
    <%= render ButtonComponent.new(text: form.object.persisted? ? 'Update Contact' : 'Create Contact', type: :submit, classes: "w-full sm:w-auto inline-block cursor-pointer") %>
  </div>
<% end %>
