<% content_for :title, "Showing contact" %>

<div class=" w-full">
  <% if notice.present? %>
    <%= render NoticeComponent.new(message: notice, type: :success) %>
  <% end %>

  <h1 class="font-bold text-4xl">Showing contact</h1>

  <%= render @contact %>

  <%= render ButtonComponent.new(text: "Edit this contact", href: edit_contact_path(@contact), variant: :secondary, classes: "w-full sm:w-auto text-center") %>
  <%= render ButtonComponent.new(text: "Back to contacts", href: contacts_path, variant: :secondary, classes: "w-full sm:w-auto text-center mt-2 sm:mt-0 ") %>
  <%= render ButtonComponent.new(text: "Destroy this contact", href: @contact, variant: :danger, type: :button, data: { turbo_confirm: "Are you sure?" }, classes: "w-full sm:w-auto") %>

  <hr class="my-6" />

<h2 class="text-xl font-bold mb-3">Notes</h2>

<% @notes.each do |note| %>
  <div class="mb-4 border-l-4 border-blue-400 pl-3 py-2 bg-blue-50">
    <p><%= note.content %></p>
    <p class="text-sm text-gray-500"><%= note.created_at.strftime("%d.%m.%Y %H:%M") %></p>

    <div class="mt-2">
      <%= link_to "Edit", edit_note_path(note), class: "text-blue-600 hover:underline text-sm" %>
      <%= button_to "Delete", note_path(note), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "text-red-600 text-sm bg-transparent hover:underline" %>

    </div>
  </div>
<% end %>

<h3 class="text-lg font-semibold mt-6">Add a note</h3j>

<%= render "notes/form", note: @note %>

</div>